@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 100;
    src: url("/style/font/NotoSansKR-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
  }
  @font-face {
    font-family: "NanumMyeongjo";
    font-style: normal;
    font-weight: 100;
    src: url("/style/font/NanumMyeongjo-Regular.ttf") format("truetype");
    font-weight: normal;
  }